<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <meta name="Description" content="Put your description here.">

    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-color: #ededed;
      }

      h3 {
        margin-bottom: 1.5rem;
        margin-top: 0;
      }

      * + h3 {
        margin-top: 3rem;
      }
    </style>
    <title>lit-element demo</title>

    <script type="module" src="{{ 'main.js' }}"></script>
  </head>
  <body>

    <div style="padding: 1rem;">
      {% include "../components/Card/CardDemos.html" %}
    </div>

    <div style="padding: 1rem;">
      {% include "../components/Box/BoxDemos.html" %}
    </div>

    {% include "./nomodule-shim.html" %}
    <script nomodule src="./main.legacy.js"></script>

  </body>

</html>
