<my-card>
  <img src="https://placekitten.com/500/300" slot="image">
  Test Card #1
</my-card>

<my-card>
  <img src="https://placekitten.com/500/300" slot="image">
</my-card>

<my-card>
  Test Card #3
</my-card>

<my-card>
  Test 
      Card 
      #4
</my-card>

<my-card>
  <my-card>
    <img src="https://placekitten.com/500/300" slot="image">
  </my-card>
</my-card>

<my-card>
  <p>Test Card #6</p>

  <my-card>
    <img src="https://placekitten.com/500/300" slot="image">
  </my-card>
</my-card>