:host {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid gray;
  display: inline-block;
  background-color: rgba(136, 0, 255, 0.12);
}

my-box {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid gray;
  display: inline-block;
  background-color: rgba(136, 0, 255, 0.12);
}

.test-component--small {
  padding: 0.25rem;
}

.test-component--medium {
  padding: 0.5rem;
}

.test-component--large {
  padding: 1rem;
}
